#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ADC
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/adc-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/adc.sh
Type=Application
ProgramType=gui
