#!/usr/bin/env xdg-open
[Desktop Entry]
Name=NetWork
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/network-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/network.sh
Type=Application
ProgramType=gui
