#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GPRS
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/gprs-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/gprs.sh 
Type=Application
ProgramType=gui
