#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Audio
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/audio-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/audio.sh
Type=Application
ProgramType=gui
