#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ping
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/ping-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/ping.sh
Type=Application
ProgramType=gui
