#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Buzzer
GenericName=Demo App
Icon=/forlinx/web/lighttpd/webpages/apps/images/buzzer-icon.png
Exec=/forlinx/web/lighttpd/webpages/shell/buzzer.sh
Type=Application
ProgramType=gui
